In [1]:
#packages required
import requests
from bs4 import BeautifulSoup
import pandas as pd
import urllib
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import os
import re
import datetime

In [2]:
#url of the graph data
#On checking the network tab in developer mode,it was found that data for the graph was available in this link
url="https://www.deribit.com/ajax?q=prch&range=1y&index_name=btc_usd"

In [3]:
# scraping json data available in the url
import requests
import json
r = requests.get(url)
cont = json.loads(r.content)
data=pd.DataFrame(cont)

In [6]:
#converting timestamp into datetime values
data['date']=datetime.datetime( 1970, 1, 1 )
for i in range(len(data)):
    data['date'][i] = datetime.datetime( 1970, 1, 1 ) + datetime.timedelta( 0, 0, 0, int(data[0][i]))
data = data.rename(columns = {0: "Timestamp",1:"Amount in Dollars"})

C:\Users\Srishti Sawla\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [7]:
data.head()

       Timestamp  Amount in Dollars                date
0  1524765600000        8841.230332 2018-04-26 18:00:00
1  1524787200000        9048.745558 2018-04-27 00:00:00
2  1524808800000        9227.726276 2018-04-27 06:00:00
3  1524830400000        9271.306133 2018-04-27 12:00:00
4  1524852000000        9261.126189 2018-04-27 18:00:00